<mat-grid-list cols="2">
  <mat-grid-tile class="side" [rowspan]="1" [colspan]="1">
    <img  src="assets/forgot.png" alt="Side Image"/>

  </mat-grid-tile>
  <mat-grid-tile class="second">
    <form>
      <h2>Forgot Password </h2>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <label>
          <input matInput placeholder="Email">

        </label>
        <!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Reset Password</button>

    </form>

  </mat-grid-tile>

</mat-grid-list>
