  <div class="page-content-wrapper-inner">
    <div class="content-viewport">
      <div class="row">
        <div class="col-12 py-5">
          <h4>Dashboard</h4>
          <p class="text-gray">Welcome, Toluwanimi Emmanuel</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6 equel-grid">
          <div class="grid">
            <div class="grid-body text-gray">
              <div class="d-flex justify-content-between">
                <p>50</p>
                <p>+06.2%</p>
              </div>
              <p class="text-black">Kotlin Event</p>
              <div class="wrapper w-50 mt-4">
                <canvas height="45" id="stat-line_1"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 equel-grid">
          <div class="grid">
            <div class="grid-body text-gray">
              <div class="d-flex justify-content-between">
                <p>43%</p>
                <p>+15.7%</p>
              </div>
              <p class="text-black">Conversion</p>
              <div class="wrapper w-50 mt-4">
                <canvas height="45" id="stat-line_2"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 equel-grid">
          <div class="grid">
            <div class="grid-body text-gray">
              <div class="d-flex justify-content-between">
                <p>23%</p>
                <p>+02.7%</p>
              </div>
              <p class="text-black">Bounce Rate</p>
              <div class="wrapper w-50 mt-4">
                <canvas height="45" id="stat-line_3"></canvas>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-8 equel-grid">
          <div class="grid">
            <div class="grid-body py-3">
              <p class="card-title ml-n1">Order History</p>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-sm">
                <thead>
                <tr class="solid-header">
                  <th colspan="2" class="pl-4">Customer</th>
                  <th>Order No</th>
                  <th>Purchased On</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="pr-0 pl-4">
                    <img class="profile-img img-sm" src="../assets/images/profile/male/image_4.png" alt="profile image">
                  </td>
                  <td class="pl-md-0">
                    <small class="text-black font-weight-medium d-block">Barbara Curtis</small>
                    <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-primary"></span>Account Deactivated </span>
                  </td>
                  <td>
                    <small>8523537435</small>
                  </td>
                  <td> Just Now </td>
                </tr>
                <tr>
                  <td class="pr-0 pl-4">
                    <img class="profile-img img-sm" src="../assets/images/profile/male/image_3.png" alt="profile image">
                  </td>
                  <td class="pl-md-0">
                    <small class="text-black font-weight-medium d-block">Charlie Hawkins</small>
                    <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
                  </td>
                  <td>
                    <small>9537537436</small>
                  </td>
                  <td> Mar 04, 2018 11:37am </td>
                </tr>
                <tr>
                  <td class="pr-0 pl-4">
                    <img class="profile-img img-sm" src="../assets/images/profile/female/image_2.png" alt="profile image">
                  </td>
                  <td class="pl-md-0">
                    <small class="text-black font-weight-medium d-block">Nina Bates</small>
                    <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-warning"></span>Payment On Hold </span>
                  </td>
                  <td>
                    <small>7533567437</small>
                  </td>
                  <td> Mar 13, 2018 9:41am </td>
                </tr>
                <tr>
                  <td class="pr-0 pl-4">
                    <img class="profile-img img-sm" src="../assets/images/profile/male/image_10.png" alt="profile image">
                  </td>
                  <td class="pl-md-0">
                    <small class="text-black font-weight-medium d-block">Hester Richards</small>
                    <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
                  </td>
                  <td>
                    <small>5673467743</small>
                  </td>
                  <td> Feb 21, 2018 8:34am </td>
                </tr>
                </tbody>
              </table>
            </div>
            <a class="border-top px-3 py-2 d-block text-gray" href="#">
              <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All Order History</small>
            </a>
          </div>
        </div>
        <div class="col-md-4 equel-grid">
          <div class="grid">
            <div class="grid-body">
              <div class="split-header">
                <p class="card-title">Activity Log</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Expand View</a>
                    <a class="dropdown-item" href="#">Edit</a>
                  </div>
                </div>
              </div>
              <div class="vertical-timeline-wrapper">
                <div class="timeline-vertical dashboard-timeline">
                  <div class="activity-log">
                    <p class="log-name">Agnes Holt</p>
                    <div class="log-details">Analytics dashboard has been created<span class="text-primary ml-1">#Slack</span></div>
                    <small class="log-time">8 mins Ago</small>
                  </div>
                  <div class="activity-log">
                    <p class="log-name">Ronald Edwards</p>
                    <div class="log-details">Report has been updated <div class="grouped-images mt-2">
                      <img class="img-sm" src="../assets/images/profile/male/image_4.png" alt="Profile Image" data-toggle="tooltip" title="Gerald Pierce">
                      <img class="img-sm" src="../assets/images/profile/male/image_5.png" alt="Profile Image" data-toggle="tooltip" title="Edward Wilson">
                      <img class="img-sm" src="../assets/images/profile/female/image_6.png" alt="Profile Image" data-toggle="tooltip" title="Billy Williams">
                      <img class="img-sm" src="../assets/images/profile/male/image_6.png" alt="Profile Image" data-toggle="tooltip" title="Lelia Hampton">
                      <span class="plus-text img-sm">+3</span>
                    </div>
                    </div>
                    <small class="log-time">3 Hours Ago</small>
                  </div>
                  <div class="activity-log">
                    <p class="log-name">Charlie Newton</p>
                    <div class="log-details"> Approved your request <div class="wrapper mt-2">
                      <button type="button" class="btn btn-xs btn-primary">Approve</button>
                      <button type="button" class="btn btn-xs btn-inverse-primary">Reject</button>
                    </div>
                    </div>
                    <small class="log-time">2 Hours Ago</small>
                  </div>
                  <div class="activity-log">
                    <p class="log-name">Gussie Page</p>
                    <div class="log-details">Added new task: Slack home page</div>
                    <small class="log-time">4 Hours Ago</small>
                  </div>
                  <div class="activity-log">
                    <p class="log-name">Ina Mendoza</p>
                    <div class="log-details">Added new images</div>
                    <small class="log-time">8 Hours Ago</small>
                  </div>
                </div>
              </div>
            </div>
            <a class="border-top px-3 py-2 d-block text-gray" href="#">
              <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i> View All </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content viewport ends -->
  <!-- partial:partials/_footer.html -->

  <!-- partial -->

